:host {
  .form {
    &-header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin-bottom: 10px;

      &-right {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    &-question {
      margin-bottom: 10px;
    }

    &-fields {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .flex {
        display: flex;
        align-items: baseline;
        gap: 10px;

        app-input {
          width: 100%;
        }
      }

      .fields-button {
        margin: 0 auto;
      }
    }
  }
}
