<div class="form" [formGroup]="fg()">
  <div class="form-header">
    <app-input formControlName="title" placeholder="Title"></app-input>
    <div class="form-header-right">
      @let customSeverity = isChange() ? 'success' : 'secondary';
      @let customVariant = isChange() ? undefined : 'text';

      <p-button
        icon="pi pi-pencil"
        [severity]="customSeverity"
        [variant]="customVariant"
        size="small"
        (click)="isChange.set(!isChange())"
      ></p-button>
      <p-button
        icon="pi pi-trash"
        severity="secondary"
        variant="text"
        size="small"
        (click)="onDeleteForm()"
      ></p-button>
    </div>
  </div>

  <div>
    <textarea
      rows="5"
      cols="30"
      pTextarea
      formControlName="question"
      autoResize="true"
      placeholder="Question"
    ></textarea>
  </div>

  <div class="form-fields" formArrayName="fields">
    @for (field of fields.controls; track field) {
      @let fieldValue = $any(field.get('value'));
      @let isInvalid = fieldValue.invalid && (fieldValue.dirty || fieldValue.touched);
      @let fieldError = fieldValue.errors | inputError: isInvalid;
      @let fieldIndex = $index + 1;
      @let isAnswerField = $any(field.get('isAnswer'));

      <div class="flex">
          <p-radioButton
            [name]="'answer-group-' + fg().get('id')?.value"
            [value]="true"
            [formControl]="isAnswerField"
            (onClick)="onSelectCorrectAnswer($index)"
          ></p-radioButton>

        <app-input
          [formControl]="fieldValue"
          [errorText]="fieldError"
          [placeholder]="'Field ' + fieldIndex"
        ></app-input>

        @if (isChange()) {
          <p-button
            icon="pi pi-trash"
            severity="secondary"
            size="small"
            variant="text"
            (click)="onDeleteField($index)"
          ></p-button>
        }
      </div>
    }

    <div class="fields-button">
      <p-button
        severity="secondary"
        (click)="onAddField()"
        size="small"
        variant="outlined"
        icon="pi pi-plus-circle"
      >
      </p-button>
    </div>
  </div>
</div>

<ng-content select="p-divider"></ng-content>
